<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingpongx.lightyear.account.dao.mapper.BlackListUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pingpongx.lightyear.account.dao.domain.BlackListUser">
        <id column="id" property="id" />
        <result column="client_id" property="userId" />
        <result column="idcard_no" property="idcardNo" />
        <result column="channel" property="channel" />
        <result column="reason_code" property="reasonCode" />
        <result column="reason_desc" property="reasonDesc" />
        <result column="report_time" property="reportTime" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
        <result column="version" property="version" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id, client_id AS userId, idcard_no AS idcardNo, channel, reason_code AS reasonCode, reason_desc AS reasonDesc, report_time AS reportTime, created, modified, version, flag
    </sql>

</mapper>
